# Multiclass Prediction in Deep Learning Models

## Read in the Data

In [1]:
# Import required packages
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Activation

In [3]:
# Read in the data
df = pd.read_csv('meet_or_beat.csv')

In [4]:
# Check dataset size
df.shape

(71968, 5)

In [5]:
# Preview dataframe
df.head()

    EPS  forecasted_eps  noOfEsts  after_total_returns  before_total_returns
0  2.01            1.67      11.0             0.051444              0.018585
1  0.17            0.19       6.0             0.112955             -0.000510
2 -0.07            0.14       4.0             0.077167             -0.046104
3  0.48            0.51       8.0            -0.006130             -0.004899
4 -0.24           -0.27       9.0             0.089762             -0.025466

## Preparing the Data

In [6]:
# Generate the categorical outcome variable
df['earnings_outcome'] = np.nan
df.loc[(df['EPS']==df['forecasted_eps']), 'earnings_outcome'] = 'meet'
df.loc[(df['EPS']>df['forecasted_eps']), 'earnings_outcome'] = 'beat'
df.loc[(df['EPS']<df['forecasted_eps']), 'earnings_outcome'] = 'lose'
df.head()

,EPS,forecasted_eps,noOfEsts,after_total_returns,before_total_returns,earnings_outcome
0,2.01,1.67,11.0,0.051444,0.018585,beat
1,0.17,0.19,6.0,0.112955,-0.000510,lose
2,-0.07,0.14,4.0,0.077167,-0.046104,lose
3,0.48,0.51,8.0,-0.006130,-0.004899,lose
4,-0.24,-0.27,9.0,0.089762,-0.025466,beat

In [7]:
# Preview the output variable 
y=df['earnings_outcome']
y

0        beat
1        lose
2        lose
3        lose
4        beat
         ...
71963    beat
71964    beat
71965    lose
71966    beat
71967    meet
Name: earnings_outcome, Length: 71968, dtype: object

In [8]:
# Encode earnings labels to integers
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(y)
encoded_y = encoder.transform(y)
encoded_y

array([0, 1, 1, ..., 1, 0, 2])

In [9]:
# Save the unique number of labels for future use
number_of_classes = len(list(y.drop_duplicates()))
number_of_classes

3

In [10]:
# Convert labeled integers to a Keras `categorical` data type
from keras.utils.np_utils import to_categorical
y_categorical = to_categorical(encoded_y, num_classes=number_of_classes)

In [11]:
# Specify X (predictor) variables
X = df[['forecasted_eps', 'before_total_returns', 'noOfEsts']]
X.head()

   forecasted_eps  before_total_returns  noOfEsts
0            1.67              0.018585      11.0
1            0.19             -0.000510       6.0
2            0.14             -0.046104       4.0
3            0.51             -0.004899       8.0
4           -0.27             -0.025466       9.0

In [12]:
# Split into training and testing windows
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y_categorical, random_state=1)

In [13]:
# Preview the encoded data we're trying to predict
pd.DataFrame(y_train).head()

     0    1    2
0  0.0  1.0  0.0
1  1.0  0.0  0.0
2  1.0  0.0  0.0
3  0.0  1.0  0.0
4  1.0  0.0  0.0

In [14]:
# Check for class balance
pd.DataFrame(y_train).sum()

0    32924.0
1    16878.0
2     4174.0
dtype: float32

In [15]:
# Save the count of unique predictor variables for use in model
number_of_predictors = len(X.columns)
len(X.columns)

3

## Building, Fitting and Predicting with Multiple Classes

In [17]:
# Build the neural network layers
model = Sequential()
model.add(Dense(9, input_dim=number_of_predictors, activation='relu'))
model.add(Dense(6, activation='relu'))

In [19]:
# Add the final output layer
# With the # of possible outputs equal to the number classes 
model.add(Dense(number_of_classes, activation='softmax'))

In [20]:
# Compile the model (with multi-class specific parameters)
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['categorical_accuracy'])

In [21]:
# Summarise the structure of the model
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 36

 dense_1 (Dense)             (None, 6)                 60

 dense_2 (Dense)             (None, 3)                 21

=================================================================
Total params: 117
Trainable params: 117
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Fit the model
model.fit(X_train,y_train, 
                    epochs=20,
                    batch_size=1000,
                    shuffle=True)

Epoch 1/20
54/54 [==============================] - 1s 3ms/step - loss: 1.0486 - categorical_accuracy: 0.3288
Epoch 2/20
54/54 [==============================] - 0s 2ms/step - loss: 0.9997 - categorical_accuracy: 0.4256
Epoch 3/20
54/54 [==============================] - 0s 2ms/step - loss: 0.9642 - categorical_accuracy: 0.5674
Epoch 4/20
54/54 [==============================] - 0s 2ms/step - loss: 0.9371 - categorical_accuracy: 0.6085
Epoch 5/20
54/54 [==============================] - 0s 2ms/step - loss: 0.9177 - categorical_accuracy: 0.6100
Epoch 6/20
54/54 [==============================] - 0s 2ms/step - loss: 0.9023 - categorical_accuracy: 0.6100
Epoch 7/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8886 - categorical_accuracy: 0.6100
Epoch 8/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8815 - categorical_accuracy: 0.6100
Epoch 9/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8745 - categorical_accuracy: 0.6100
Epoch 10/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8687 - categorical_accuracy: 0.6100
Epoch 11/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8640 - categorical_accuracy: 0.6100
Epoch 12/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8609 - categorical_accuracy: 0.6100
Epoch 13/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8589 - categorical_accuracy: 0.6100
Epoch 14/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8579 - categorical_accuracy: 0.6100
Epoch 15/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8572 - categorical_accuracy: 0.6100
Epoch 16/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8565 - categorical_accuracy: 0.6100
Epoch 17/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8553 - categorical_accuracy: 0.6100
Epoch 18/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8526 - categorical_accuracy: 0.6100
Epoch 19/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8508 - categorical_accuracy: 0.6100
Epoch 20/20
54/54 [==============================] - 0s 2ms/step - loss: 0.8490 - categorical_accuracy: 0.6100

In [23]:
# Evaluate model on the test data
model.evaluate(X_test,y_test, verbose=2)

563/563 - 1s - loss: 0.8455 - categorical_accuracy: 0.6152 - 830ms/epoch - 1ms/step

[0.8455184698104858, 0.6151623129844666]

In [24]:
# Save predictions on the test data
predictions = model.predict(X_test)
predictions

563/563 [==============================] - 1s 1ms/step

array([[0.58190155, 0.3449913 , 0.07310718],
       [0.72524905, 0.21051463, 0.06423626],
       [0.590638  , 0.31111753, 0.09824456],
       ...,
       [0.6220389 , 0.32521108, 0.05275003],
       [0.5884265 , 0.31594613, 0.09562742],
       [0.56227314, 0.33167884, 0.10604803]], dtype=float32)

In [26]:
# Get the most likely prediction for each observation
most_likely = np.argmax(predictions, axis=1)
most_likely

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [27]:
# Convert most likely category back to original labels
most_likely = encoder.inverse_transform((most_likely))
most_likely

array(['beat', 'beat', 'beat', ..., 'beat', 'beat', 'beat'], dtype=object)

In [28]:
# Evaluate prediction balance
pd.DataFrame(most_likely).value_counts()

beat    17986
lose        6
dtype: int64